    h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 20px;
    }

    a:link {
        color: #42413C;
        text-decoration: none;
    }

    a:visited {
        color: #6E6C64;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;        
    }

    a:active {
        color: #42413C;
        text-decoration: underline;
    }
    
    header{
    height: 100px;
    background-color: #B02022;
    border-bottom: 1px solid #000000;
    position: relative;
    }
    
    footer{
    background-color: #B02022;
    border-top: 1px solid #000000;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    position: relative;
    clear: both;
    text-align: center;
    color: rgba(244,249,255,1.00);
    font-size: 20px;
    }
footer a {
    color: rgba(247,244,248,1.00);
    font-size: 17px;
}
footer a:link  {
    color: rgba(247,244,248,1.00);
}
footer a:visited  {
    color: rgba(247,244,248,1.00);
}
footer a:hover  {
    color: rgba(247,244,248,1.00);
}
footer a:active  {
    color: rgba(247,244,248,1.00);
}

body {
    line-height: 1.4em;
    font-size: 100%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px;
    color: #000000;
    background-color: #C6A8EA;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
header ul a:hover, header ul a:active {
    color: #BEB2B3;
    text-decoration: underline;
}
header ul a:link, header ul a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
header ul li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
    color: #FFFFFF;
    font-size: 17px;
}
h1 {
    margin-top: 10px;
    font-size: 30px;
}

    
    .container{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(250,192,25,1.00);
    }

header ul {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
hr {
    border-color: black;
}
